#feltolt {
    color: red;
    font-weight: bolder;
}
body {
    background-image: url(https://free4kwallpapers.com/uploads/originals/2016/04/11/geometric-4k-wallpaper.jpg);
    background-repeat: no-repeat;
}